<%= render 'shared/page_title', title: "user #{@user.username}'s Profile"  %>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= gravatar_for @user, size: 150 %>
  </div>
</div>
<% unless @user.recipes.empty? %>
<h4 class="colored center"><%= @user.username %>'s posts</h4>
<div align="center">
  <%= will_paginate @user_recipes %>
</div>
<%= render 'recipes/recipe', obj: @user_recipes %>
<div align="center">
  <%= will_paginate @user_recipes %>
</div>
<% else %>
<h4 class="colored center">
 Any post created.
</h4>
<% end %>
